{% extends "test_app/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>注册账号</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">注册</button>
            </div>
        </form>
        <div>
            <small>
                已有账号? <a href="{% url 'login' %}">登录</a>
            </small>
        </div>
    </div>
{% endblock %}